<label style="text-align: center; width: 90rem; font-size: 5rem; color:mediumslateblue;
  font-family: Brush Script MT, Brush Script Std, cursive; ">
  Select pet
</label>
<div style="margin-top: 1rem; margin-left: 32rem; margin-right: 32rem">
  <div class="card" style="width: 12rem; height: 12rem; float: left; margin-right: 0.5rem;">
    <% image_url = 'https://dumielauxepices.net/sites/default/files/snail-clipart-garry-768081-5889990.jpg'%>
    <a href="../game?image_url=<%= image_url%>">
      <img style="height: 12rem; border-bottom-right-radius: calc(.25rem - 1px);
        border-bottom-left-radius: calc(.25rem - 1px);" class="card-img-top" src="<%= image_url %>" alt="Card image cap">
    </a>
  </div>

  <div class="card" style="width: 12rem; height: 12rem;">
    <% image_url = 'https://img2.goodfon.ru/original/1024x1024/2/b2/kurazh-kurazh-truslivyy-pes-2811.jpg'%>
    <a href="../game?image_url=<%= image_url%>">
      <img style="height: 12rem; border-bottom-right-radius: calc(.25rem - 1px);
        border-bottom-left-radius: calc(.25rem - 1px);" class="card-img-top" src="<%= image_url %>" alt="Card image cap">
    </a>
  </div>
</div>

<div style="margin-top: 0.5rem; margin-left: 32rem; margin-right: 32rem">
  <div class="card" style="width: 12rem; height: 12rem; float: left; margin-right: 0.5rem">
    <% image_url = 'https://cdn.shopify.com/s/files/1/0892/0186/products/Garfield_limited_edition_PLC-3.jpg?v=1467401499'%>
    <a href="../game?image_url=<%= image_url%>">
      <img style="height: 12rem; border-bottom-right-radius: calc(.25rem - 1px);
        border-bottom-left-radius: calc(.25rem - 1px);" class="card-img-top" src="<%= image_url %>" alt="Card image cap">
    </a>
  </div>

  <div class="card" style="width: 12rem; height: 12rem">
    <% image_url = 'http://www.drawinghowtodraw.com/stepbystepdrawinglessons/wp-content/uploads/2010/11/colorized-tweety-bird.png'%>
    <a href="../game?image_url=<%= image_url%>">
      <img style="height: 12rem; border-bottom-right-radius: calc(.25rem - 1px);
        border-bottom-left-radius: calc(.25rem - 1px);" class="card-img-top" src="<%= image_url%>" alt="Card image cap">
    </a>
  </div>
</div>
