<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Tamagotchi</title>
</head>
<body style="background-image: url(https://wallpaper-house.com/data/out/4/wallpaper2you_33271.jpg)">
<div>
  <% if tamagotchi.dead? %>
    <div style="padding-left:100px; padding-right: 100px ">
      <h1 style="font-size: 100px; font-family: Brush Script MT, Brush Script Std, cursive;
        color:black; text-align: center ">
        Your pet <%= name_pet %> is dead
      </h1>
      <img style="padding-left: 500px; padding-right: 500px" src="https://img.icons8.com/cotton/200/000000/coffin.png">
    </div>
  <% else %>

    <h1 style= "text-align: center; padding-top: 100px; font-size: 70px;
      font-family: Brush Script MT, Brush Script Std, cursive; color: dodgerblue">
      <%= name_pet %>
    </h1>

    <div style="padding-left: 280px ">
      <div style="float: left; padding-right: 50px">
        <img style="float: left" src="https://img.icons8.com/cotton/150/000000/like.png">
        <div style="font-size: 100px; font-family: Brush Script MT, Brush Script Std, cursive;  color:limegreen ">
          <%= tamagotchi.health %> %
        </div>
      </div>
      <div style="float: left; padding-right: 50px">
        <a href="../feed"><img src="https://img.icons8.com/cotton/150/000000/hamburger.png"></a>
        <div style="font-size: 100px; font-family: Brush Script MT, Brush Script Std, cursive; color:limegreen ">
          <%= tamagotchi.hungry %> %
        </div>
      </div>
      <div style="float: left; padding-right: 50px">
        <a href="../sleep"><img src="https://img.icons8.com/linen/150/000000/electricity.png"></a>
        <div style="font-size: 100px; font-family: Brush Script MT, Brush Script Std, cursive; ;color:limegreen ">
          <%= tamagotchi.energiness %> %
        </div>
      </div>
      <div>
        <a href="../clean"><img src="https://img.icons8.com/cotton/150/000000/wash-your-hands.png"></a>
        <div style="font-size: 100px; font-family: Brush Script MT, Brush Script Std, cursive; color:limegreen ">
          <%= tamagotchi.cleanliness %> %
        </div>
      </div>
    </div>
  <%end %>
</div>
</body>
</html>
